.App {
  text-align: center;
}

.red{
  color: red;
}

.black{
  color: black;
}
.blue{
  color: blue;
}
.reload{
  color:white;
  background-color: rgb(97, 113, 255);
    padding: 5px;
    margin-bottom: 10px;
    /* float: right; */
    border: 10px;
    border-radius: 5px;

}
.showButton{
    color: white;
    background-color: rgb(119, 255, 78);
    padding: 5px;
    margin-bottom: 10px;
    /* float: right; */
    border: 10px;
    border-radius: 5px;
}
.showButton:hover{
  background-color: green;
  color: white;
}
.disabled{
  /* disaplay: disableed; */
}